* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border: border-box;
}

body {
    background: linear-gradient(145deg, #0f0c29, #302b63, #da0037);
    height: 100vh;
    margin: 0;
}

.home{
    margin-top: 50px;
}
.home h2{
    color: antiquewhite;
    text-align: center;
    font-size: 50px;
    line-height: 80px;
}
.home h4{
    color:burlywood;
    text-align: center;
    font-size: 25px;
}